AI_BOT_TOKEN=YOUR_AI_BOT_TOKEN
GATE_BOT_TOKEN=YOUR_GATE_BOT_TOKEN

AZURE_API_KEY=YOUR_AZURE_API_KEY

AZURE_MODELS_ENDPOINT=https://20201016-6658-resource.services.ai.azure.com/models
OPENAI_V1_ENDPOINT=https://20201016-6658-resource.services.ai.azure.com/openai/v1
VIDEO_ENDPOINT=https://20201016-6658-resource.services.ai.azure.com/videos

MODEL_GROK=grok-4-20-reasoning
MODEL_GPT=gpt-5.4-pro
MODEL_IMAGE=gpt-image-2
MODEL_SORA=sora-2

REDEEM_BOT_LINKS=https://t.me/redeem_gemini_bot?start=ref_792217588
REDEEM_BOT_USERNAMES=redeem_gemini_bot

GATE_BOT_USERNAME=referalcodegenerator_bot
AI_BOT_USERNAME=MohanBaralAI_bot

DAILY_FREE=5
BONUS_PER_CODE=10
DB_PATH=shared.db
